<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
     <link rel="stylesheet" href="../../css/comun.css">
    <title>Empleados</title>
</head>

<body>

    <div class="cont-gral">
        <div class="fila_principal">
            <h3>Empleados</h3>
            <div class="menu_fila col3">
                <a class="material-symbols-outlined icon bt_azul" href="#" title="Inicio">home</a>
            </div>

        </div>

        <div class="tabla">

            <div class="cabecera">
                <span >Modificación de datos</span>
            </div>

            <div class="cuerpo">
                <% empleados.forEach((empleado)=>{ %>
                <!-- Primera fila -->
                <div class="fila">
                    <!-- Legajo -->
                    <div class="cont_vert">
                        <label for="">Legajo</label>
                        <input type="text"  value="<%= empleado.Legajo %>">
                    </div>
                    <!-- Apellido -->
                     <div class="cont_vert">
                        <label for="">Nombre</label>
                        <input type="text" value="<%= empleado.NomApe %>">
                    </div>
                    <!-- Email -->
                    <div class="cont_vert">
                        <label for="">Dirección de Email</label>
                        <input type="mail" value="<%= empleado.Email %>">
                    </div>
                </div>    

                <!-- Segunda fila -->
                <div class="fila">    
                    <!-- Puesto -->
                    <div class="cont_vert">
                        <label for="">Especialidad</label>
                        <select>
                            <% puestos.forEach((puesto)=>{ %>
                                <option value=""
                                    <% if (puesto.IdPuesto==empleado.RelPuesto) { %> selected <% } %>
                                    ><%= puesto.NomPuesto%>
                                </option>
                                <% }) %>
                        </select> 
                    </div>
                    <!-- Reprecentación gremial -->
                    <div class="cont_vert">
                        <label for="">Reprecentación Gremial</label>
                        <select>
                            <% gremios.forEach((gremio)=>{ %>
                                <option value=""
                                <% if (gremio.IdReprGremial==empleado.RelReprGremial) { %> selected <% } %>    
                                ><%= gremio.NomReprGremial %></option>
                                <% }) %>
                        </select> 
                         
                    </div>
                    <!-- Superior Inmediato -->
                    <div class="cont_vert">
                        <label for="">Superior Inmediato</label>
                        <select>
                            <% supinmeds.forEach((supinmed)=>{ %>
                                <option value=""
                                    <% if (supinmed.IdSupInmed==empleado.RelSupInmed) { %> selected <% } %>    
                                    ><%= supinmed.NomSupInmed %>
                                </option>
                                <% }) %>
                        </select> 
                    </div> 
                </div>

                <!-- Tercera fila -->
                <div class="fila">
                    <!-- Supervision -->
                    <div class="cont_vert">
                        <label for="">Supervisión</label>
                        <select>
                            <% supervisiones.forEach((supervision)=>{ %>
                                <option value=""
                                <% if (supervision.IdSupervision==empleado.RelSupervision) { %> selected <% } %>    
                                ><%= supervision.NomSupervision %></option>
                                <% }) %>
                        </select> 
                    </div>
                    <!-- Subregion -->
                    <div class="cont_vert">
                        <label for="">SubRegión</label>
                        <select>
                            <% subregiones.forEach((subregion)=>{ %>
                                <option value=""
                                <% if (subregion.IdSubregion==empleado.RelSubregion) { %> selected <% } %>    
                                ><%= subregion.NomSubregion %></option>
                                <% }) %>
                        </select>
                    </div>  
                    <!-- Encargado de tiempo -->
                    <div class="cont_vert">
                        <label for="">Encargado de Tiempo</label>
                        <select>
                            <% encargados.forEach((encargado)=>{ %>
                                <option value=""
                                    <% if (encargado.IdEncargado==empleado.RelEncargTiempos) { %> selected <% } %>    
                                    ><%= encargado.NomEncargado %>
                                </option>
                                <% }) %>
                        </select>
                    </div> 
                </div>   
                
                <!-- Cuarta fila -->
                <div class="fila" style="justify-content: space-around;">
                    <!-- Coordinador -->
                    <div class="cont_vert">
                        <label for="">Coordinador</label>
                        <select>
                            <% coordinadores.forEach((coordinador)=>{ %>
                                <option value=""
                                    <% if (coordinador.IdCoordinador==empleado.RelCoordinador) { %> selected <% } %>    
                                    ><%= coordinador.NomCoordinador %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <!-- Coordinacion -->
                    <div class="cont_vert">
                        <label for="">Coordinacion</label>
                        <select>
                            <% coordinaciones.forEach((coordinacion)=>{ %>
                                <option value=""
                                <% if (coordinacion.IdCoordinacion==empleado.RelCordinacion) { %> selected <% } %>    
                                    ><%= coordinacion.NomCoordinacion %>
                                </option>
                                <% }) %>
                        </select> 
                    </div>
                </div>    
                    <div class="menu_form">
                        <button class="bt_verde">Aceptar</button>    
                        <a class="bt_rojo" href="/empleado">Cancelar</a>
                    </div>
                
                <% }); %>  
            </div>    
        </div>
    </div>        
</body>

</html>